.paint{
  margin-left: 30%;
;
 margin-right: 30%;
}
.text{
    position: absolute;
    top:0
    
}
.text h1{
    margin-left: 160px;
    margin-top: 90px;
    color: rgb(16, 18, 19);
}
.text p{
    margin-left: 110px;
    margin-top: 40px;
    color: rgb(19, 22, 24);
}